# Root Next.js app
/.next/
/node_modules/
firebase-debug.log

# Client portal app
/apps/client-portal/.next/
/apps/client-portal/node_modules/
/apps/client-portal/firebase-debug.log
/apps/client-portal/package-lock.json

# General
.env
.env.*
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
node_modules